body {
    background-image: url(assets/landscape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#introduction, .text-center {
    color: #ffff77;
}
#introduction {
    font-size: 1.1rem;
}
.name {
    color: hsl(120, 99%, 72%, 0.6);
    font-size: 2.5rem;
    font-style: italic;
    font-family: fantasy;
}
